html {
    font-size: 100%;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-300);
    font-weight: var(--fw-regular);
}

a {
    text-decoration: none;
    color: unset;
}

input,
button {
    outline: none;
}
