@use "../abstracts" as *;

.ff-primary {
    font-family: var(--ff-primary) !important;
}

.ff-secondary {
    font-family: var(--ff-secondary) !important;
}

@each $screen-size, $property in $font-sizes {
    @if $screen-size == small {
        @each $prop, $value in $property {
            .fs-#{$prop} {
                font-size: var(--fs-#{$prop}) !important;
            }
        }
    }
}

@each $weight, $value in $font-weights {
    .fw-#{$weight} {
        font-weight: var(--fw-#{$weight}) !important;
    }
}
