.swiper-button-prev,
.swiper-button-next {
    background-color: var(--clr-neutral-500);
    color: var(--clr-neutral-100) !important;
    width: 2rem !important;
    aspect-ratio: 1 !important;
    border-radius: 0.5rem;
    opacity: 0.3;

    &::after {
        font-size: var(--fs-400) !important;
        font-weight: var(--fw-bold);
    }

    &:hover {
        opacity: 1;
    }
}
