.order {
    --flow-spacer: 1.25rem;

    &-form {
        --form-width: 37.5rem;
        min-height: 20rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        padding: 1rem;
    }
}
